<% layout("/layouts/boilerplate") %>
<br>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Form : </h3>
        <form method="post" 
        action="/listing/<%= Listing._id %>?_method=PUT" 
        novalidate class="needs-validation"
        enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" 
                name="listing[title]" 
                value="<%= Listing.title %>"
                id="title" 
                class="form-control"
                required>
                <div class="valid-feedback">Title good looks</div>
            </div>
        
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" 
                    name="listing[description]"  
                    id="description"
                    class="form-control" required><%= Listing.description %></textarea>
                    <div class="invalid-feedback">Enter short and valid Description.</div>

            </div>

            <div class="mb-3">
                Original Listing Image <br>
                <img src="<%=originalImageUrl%>" alt="original upload Image">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input type="file" name="listing[image]" class="form-control"  id="">
                <div class="invalid-feedback">Enter valid Image Link.</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]"  class="form-control" value="<%= Listing.price %>" id="" required>
                    <div class="invalid-feedback">Price should be valid.</div>
                </div >
                <div class="mb-3 col-md-9">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]"  class="form-control" value="<%= Listing.country %>" id="" required>
                    <div class="invalid-feedback">Country name should be valid.</div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]"  class="form-control" value="<%= Listing.location %>" id="" required>
                <div class="invalid-feedback">Location should be valid.</div>
            </div>
            <button class="btn btn-dark add-btn " >Edit</button>
            
        </form>
    <br>
    </div>
</div>

    